

<h1>CELEBRATE YOUR MILESTONES WITH US</h1>
<h2>Here at the Joe's High Rise Bakery, cakes aren't just cakes.  It's a milestone birthday, graduation, a wedding celebration.  We don't take your brightest moments lightly<br>
-we celebrate the best way we can: with our finest choclates, our sweetest strawberries, and our most colorful sprinkles we can find.</h2>


<% cakes =
[['images/strawberry.jpg', 'Strawberry Cake', '39.50', 'This is a strawberry cake.'],
['images/birthday.jpg', 'Birthday Cake', '39.50', 'This is a birthday cake.'],
['images/salted.jpg', 'Salted Caramel Cake', '39.50', 'This is a salted caramel cake.'],
['images/choclate.jpg', 'Choclate Cake', '39.50', 'This is a choclate cake.'],
['images/velvet.jpg', 'Red Velvet Cake', '39.50', 'This is a red velvet cake.'],
['images/carrot.jpeg', 'Carrot Cake', '39.50', 'This is a carrot cake.'],
['images/lemon.jpeg', 'Lemon Cake', '39.50', 'This is a lemon cake.'],
['images/joe-o.jpg', 'Joe-O-Cookie Cake', '39.50', 'This is a Joe-O-Cookie cake.'],
['images/leches.jpeg', 'Tres Leches Cake', '39.50', 'This is a tres leches cake.']]
%>

 <div class="container">
 <% cakes.each do |cake| %>
 <% img = cake[0] %>
 <% name = cake[1] %>
 <% price = cake[2] %>
 <% description = cake[3] %>
 <div class="item">
<img src="<%= img %>">
<h2><%= name %></h2>
<h3><%= description %><h3>
<h3><%= price %><h3>
 </div>
<% end %>
</div>
