 <div id="navbar">
      <ul>
          <li><a href="#home">HOME</a></li>
            <li><a href="#cookies">COOKIES</a></li>
            <li><a href="#cakes">CAKES</a></li>
            <li><a href="#muffins">MUFFINS</a></li>
            <li><a href="#contact">CONTACT ME</a></li>
     </ul>
 </div> 
 
<h1>CELEBRATE YOUR MILESTONES WITH US</h1>
<h2>Here at the Joe's High Rise Bakery, cakes aren't just cakes.  It's a milestone birthday, graduation, a wedding celebration.  We don't take your brightest moments lightly<br>
-we celebrate the best way we can: with our finest choclates, our sweetest strawberries, and our most colorful sprinkles we can find.</h2>

 
<div class="container-grid">
 
<div class="section1">Strawberry Cake
<img src="images/strawberry.jpg">
</div>
<div class="section2">Birthday Cake 
<img src="images/birthday.jpg">
</div>
<div class="section3">Salted Caramel Cake
<img src="images/salted.jpg">
</div>
<div class="section4">Choclate Cake
<img src="images/choclate.jpg">
</div>
<div class="section5">Red Velvet Cake 
<img src="images/velvet.jpg">
</div>
<div class="section6">Carrot Cake
<img src="images/carrot.jpg">
</div>
<div class="section7">Lemon Passionfruit Cake
<img src="images/lemon.jpg">
</div>
<div class="section8">Section 8 
<img src="joe-o.jpg">
</div>
<div class="section9">Section 9 
<img src="images/leches.jpg">
</div>
 
</div>