<div class="main">
  <h5>Cookies</h5>
  <h6>A cookie a day keeps you smiling all day!</h6>

  <% cookies =
[['images/sprinkle.png', 'Sprinkle Cookie', '2.50', 'This cookie is raining with sprinkles.'],
['images/oatmeal.png', 'Oatmeal Cookie', '2.50', 'This cookie is perfect for dunking in milk.'],
['images/linzer.png', 'Linzer Tart', '2.50', 'So buttery, but not so sweet.'],
['images/macaroon.png', 'Macaroon Cookie', '2.50', 'Warning: Do not order if you have a peanut allergy'],
['images/half-dipped.png', 'Choclate Chip Half Dipped Cookie', '2.50', 'Half chocalte and half choclate chip!'],
['images/tarts.png', 'Choclate Tart', '2.50', 'A lot of choclate with very little sweet.'],
['images/candy.png', 'Candy Cookie', '2.50', 'This cookie came from heaven.'],
['images/choclate-chip.png', 'Choclate Chip Cookie', '2.50', 'There\'s nothing better than the orginal.'],
['images/black-white.png', 'Black and White', '2.50', 'A yin to your yang!']]
%>

    <div class="container">
      <% cookies.each do |cookie| %>
        <% img = cookie[0] %>
          <% name = cookie[1] %>
            <% price = cookie[2] %>
              <% description = cookie[3] %>
                <div class="item">
                  <img src="<%= img %>">
                  <h2><%= name %></h2>
                  <h3><%= description %>
                    <h3>
                      <h3><%= price %>
                        <h3></div>
                      <% end %>
                    </div>
