<div class="main">
  <section id="cookies" class="top-content">

<h1>Cookies</h1>
</div>
 
<h4>A cookie a day keeps you smiling all day!</h4>
 
<h5>Here at the Joe's High-Rise Bakery, cookies aren't just for kids but there for adults too. 
 We have flavors that you grew up with and hard to come by.  Come take a look and we sure you 
 will not be disappointed.</h5>
 
<% cookies =
[['images/sprinkle.png', 'Sprinkle Cookie', '2.50', 'This is a sprinkle cookie.'],
['images/oatmeal.png', 'Oatmeal Cookie', '2.50', 'This is a oatmeal cookie.'],
['images/linzer.png', 'Linzer Tart', '2.50', 'This is a linzer tart.'],
['images/macaroon.png', 'Macaroon Cookie', '2.50', 'This is a macaroon cookie.'],
['images/half-dipped.png', 'Choclate Chip Half Dipped Cookie', '2.50', 'This is a choclate chip half dipped cookie.'],
['images/tarts.png', 'Choclate Tart', '2.50', 'This is a choclate tart.'],
['images/candy.png', 'Candy Cookie', '2.50', 'This is a candy cookie.'],
['images/choclate-chip.png', 'Choclate Chip Cookie', '2.50', 'This is a choclate chip cookie.'],
['images/black-white.png', 'Black and White', '2.50', 'This is a black and white cookie.']]
%>

 <div class="container">
 <% cookies.each do |cookie| %>
 <% img = cookie[0] %>
 <% name = cookie[1] %>
 <% price = cookie[2] %>
 <% description = cookie[3] %>
 <div class="item">
<img src="<%= img %>">
<h2><%= name %></h2>
<h3><%= description %><h3>
<h3><%= price %><h3>
 </div>
<% end %>
</div>
