<div class="main">
  <section id="crumb" class="top-content">

<h1>Crumb Cakes</h1>
</div>
<h4>Add some crumb to your coffee!</h4>
<h5>Here at the Joe's High-Rise Bakery, we start our morning off by dipping our crumb cakes into our coffee. 
 Give it a try you won't regret it!</h5>


<% crumbs =
[['images/oreo-d.png', 'Oreo Delight', '9.50', 'This is an oreo delight.'],
['images/pbb.png', 'Peanut Butter Brownie', '9.50', 'This is a peanut butter brownie.'],
['images/crumb.png', 'Crumb Cake', '9.50', 'This is a crumb cake.'],
['images/apple.png', 'Apple Crumb', '9.50', 'This is an apple crumb.'],
['images/blondie.png', 'Blondie', '9.50', 'This is a blondie.'],
['images/blueberry.png', 'Blueberry Crumb', '9.50', 'This is a blueberry crumb.'],
['images/banana.png', 'Banana Frosted', '9.50', 'This is a banana frosted.'],
['images/carmel.png', 'Apple Caramel', '9.50', 'This is an apple caramel.'],
['images/german.png', 'German Butter', '9.50', 'This is a german butter.']]
%>

 <div class="container">
 <% crumbs.each do |crumb| %>
 <% img = crumb[0] %>
 <% name = crumb[1] %>
 <% price = crumb[2] %>
 <% description = crumb[3] %>
 <div class="item">
<img src="<%= img %>">
<h2><%= name %></h2>
<h3><%= description %><h3>
<h3><%= price %><h3>
 </div>
<% end %>
</div>
