<h5>Crumb Cakes</h5>
<h6>Add some crumb to your coffee!</h6>

<% crumbs =
[['images/oreo-d.png', 'Oreo Delight', '9.50', 'The name says it all!'],
['images/pbb.png', 'Peanut Butter Brownie', '9.50', 'Peanutty, Buttery, Delious!'],
['images/crumb.png', 'Crumb Cake', '9.50', 'Add coffee!'],
['images/apple.png', 'Apple Crumb', '9.50', 'A little apple and a lot of spice!'],
['images/blondie.png', 'Blondie', '9.50', 'You don\'t have to be blond to have this.'],
['images/blueberry.png', 'Blueberry Crumb', '9.50', 'We put some extra blueberries in it for you!.'],
['images/banana.png', 'Banana Frosted', '9.50', 'Banana\'s are all the crave right now!'],
['images/carmel.png', 'Apple Caramel', '9.50', 'It\'s is like your bobbing for apples!.'],
['images/german.png', 'German Butter', '9.50', 'Hand deleivered from Germany.']]
%>

  <div class="container">
    <% crumbs.each do |crumb| %>
      <% img = crumb[0] %>
        <% name = crumb[1] %>
          <% price = crumb[2] %>
            <% description = crumb[3] %>
              <div class="item">
                <img src="<%= img %>">
                <h2><%= name %></h2>
                <h3><%= description %>
                  <h3>
                    <h3><%= price %>
                      <h3></div>
                    <% end %>
                  </div>
