<h5>Cupcakes</h5>
<h6>A sweet for a sweet!</h6>

<% cupcakes =
[['images/rocky.png', 'Rocky Road Cupcake', '7.50', 'An ice-cream flavor in a cupcake!'],
['images/oreo.png', 'Orep Cupcake', '7.50', 'Must I say more?'],
['images/peanut.png', 'Peanut Butter Cupcake', '7.50', 'It\'s a reccess peanut butter cup!.'],
['images/baw.png', 'Black and White Cupcake', '7.50', 'It\'s black and white.'],
['images/cccd.png', 'Choclate Chip Cookie Dough Cupcake', '7.50', 'This is safe for you to eat!'],
['images/rv.png', 'Red Velvet Cupcake', '7.50', 'So red and so delicious.'],
['images/lemon-c.png', 'Lemon Coconut Cupcake', '7.50', 'Add lemon and cocunut and you have this cupcake.'],
['images/vanilla.png', 'Vanilla Sprinkle Cupcake', '7.50', 'An orginal!'],
['images/kiss.png', 'Choclate Kiss Sprinkle Cupcake', '7.50', 'Our best selling cupcake.']]
%>

  <div class="container">
    <% cupcakes.each do |cupcake| %>
      <% img = cupcake[0] %>
        <% name = cupcake[1] %>
          <% price = cupcake[2] %>
            <% description = cupcake[3] %>
              <div class="item">
                <img src="<%= img %>">
                <h2><%= name %></h2>
                <h3><%= description %>
                  <h3>
                    <h3><%= price %>
                      <h3></div>
                    <% end %>
                  </div>
