<div class="main">
  <section id="events" class="top-content">

<h5>Events</h5>
</div>
<% @req['events'].each do |x| %>

 <%= x['name']['text'] %>

 <%= x['description']['text'] %>
<img src="<%= x['logo']['url']%>">
<% end %>
