 <div id="navbar">
      <ul>
          <li><a href="#home">HOME</a></li>
            <li><a href="#cookies">COOKIES</a></li>
            <li><a href="#cakes">CAKES</a></li>
            <li><a href="#muffins">MUFFINS</a></li>
            <li><a href="#contact">CONTACT ME</a></li>
          </ul>
          </div> 
<div class="food">
       <ul>
       <li><img src="images/cookies.png">Double Choclate Chip Cookies><l1>
         <li><img src="images/cakes.png" >Choclate Cake><l1>
           <li><img src="images/muffins.png">Choclate Muffin><l1>
       </ul> 
       </div>
 
 

<h1>Welcome to Joe's High-rise Bakery in New York City!</h1>
<h2>When we opened our doors in 1984, we set out to be the best bakery in New York City.  We had a misson: to create the best cookies, cakes, and muiffins below 125 Street.  We make all our recipes from scratch in our kitchen.  We want our customers to be as close to the action as possiable.</h2>
 
 