<h1>JOE'S HIGH RISE <br> BAKERY</h1>

<div class="rightborder">___________________________________________________________________________________________________________________________________________________________________________________</div>
 

<h2>WELCOME TO JOE'S HIGH-RISE BAKERY! NEW YORK'S FAVORITE WEST VILLAGE BAKERY!</h2> 

 <div class="rightborder">___________________________________________________________________________________________________________________________________________________________________________________</div>

<h3>We opened our door in 1984 and we set out to be one of the best bakeries below 125th Street. We had a mission: to create a place where everything is made from scratch on premise, and baked by people standing 10 feet away from customers.</h3>

<div class="rightborder">___________________________________________________________________________________________________________________________________________________________________________________</div>






