 <div class="body">
<div class"border>

<div class="image">
 <a href="/" title="Noe Valley Bakery" class="logo-align--center">
      
        <img src="//cdn.shopify.com/s/files/1/1981/3807/files/nvb-logo-transparent_720x.png?v=1517021769" alt="Noe Valley Bakery" />
    </a>
 </div> 

    <h1>Joe Valley Bakery</h1>
    <h2> "WELCOME TO JOE VALLEY BAKERY SAN FRANCISCO'S FAVORITE NEIGHBORHOOD BAKERY!"</h2>
</div>
</div>
 

 

  