<doctype html>
<html>
  <head>
    <title>Joe Valley Bakery</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
 </head>
<body>
 <div id="navbar">
      <ul>
          <li><a href="#home">HOME</a></li>
            <li><a href="#cookies">COOKIES</a></li>
            <li><a href="#cakes">CAKES</a></li>
            <li><a href="#muffins">MUFFINS</a></li>
              <li><a href="#contact">EVENTS</a></li>
            <li><a href="#contact">CONTACT ME</a></li>
     </ul>
 </div>

<%= yield %>
</body>
</html>
