<doctype html>
<html>
  <head>
    <title>Joe High-Rise Bakery</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
 </head>
<body>
 <div id="navbar">
      <ul>
          <li><a href="/">HOME</a></li>
            <li><a href="cookies">COOKIES</a></li>
            <li><a href="cakes">CAKES</a></li>
            <li><a href="muffins">MUFFINS</a></li>
            <li><a href="cupcakes">CUPCAKES</a></li>
            <li><a href="crumb">CRUMB CAKES</a></li>
            <li><a href="pastries">PASTRIES</a></li>
            <li><a href="events">EVENTS</a></li>
            <li><a href="contact">CONTACT ME</a></li>
     </ul>
 </div>
 <div class="image1"><img src="images/roller.png"></div><br><h1>JOE'S HIGH-RISE <br> BAKERY</h1>

<%= yield %>

 <div id="footer" style ="width: 1100px; height: 100px;">
      <ul>
        <li><a href="/">HOME</a></li>
            <li><a href="cookies">COOKIES</a></li>
            <li><a href="cakes">CAKES</a></li>
            <li><a href="muffins">MUFFINS</a></li>
            <li><a href="cupcakes">CUPCAKES</a></li>
            <li><a href="crumb">CRUMB CAKES</a></li>
            <li><a href="pastries">PASTRIES</a></li>
            <li><a href="events">EVENTS</a></li>
            <li><a href="contact">CONTACT ME</a></li>
        </ul>

  <br></br> &copy; 2018 joes-high-rise-bakery.com All Rights Reserved.
</div>
</body>
</html>
