<h5>Muffins</h5>
<h6>Start your morning off right!</h6>

<% muffins =
[['images/pistachio.png', 'Pistachio Yogurt Muffin', '7.50', 'Green with envy!'],
['images/rasberry-almond.png', 'Rasberry Almond Yogurt Muffin', '7.50', 'Berries and nuts!'],
['images/dutch.png', 'Dutch Chip Yogurt Muffin', '7.50', 'Add some choclate!'],
['images/cinnamon.png', 'Cinnamon Walnut Yogurt Muffin', '7.50', 'It\'s a little spicy!'],
['images/lemon-poppy.png', 'Lemon Poppy Yogurt Muffin', '7.50', 'The perfect muffin for any morning.'],
['images/ivory.png', 'Ivory Choclate Chip Yougurt Muffin', '7.50', 'Lots of chips and a lot of kick!'],
['images/crunch.png', 'Marble Crunch Yougurt Muffin', '7.50', 'It taste like candy!'],
['images/orange.png', 'Orange Cranberry Yogurt Muffin', '7.50', 'Tast like orange soda!'],
['images/pumpkin.png', 'Pumpkin Yogurt Muffin', '7.50', 'It\'s like a pumpkin latte.']]
%>

  <div class="container">
    <% muffins.each do |muffin| %>
      <% img = muffin[0] %>
        <% name = muffin[1] %>
          <% price = muffin[2] %>
            <% description = muffin[3] %>
              <div class="item">
                <img src="<%= img %>">
                <h2><%= name %></h2>
                <h3><%= description %>
                  <h3>
                    <h3><%= price %>
                      <h3></div>
                    <% end %>
                  </div>
