<div class="main">
  <section id="pastries" class="top-content">

<h5>Pastries</h5>
</div>
<h6>All our pastries are organically grown!</h6>


<% pastries =
[['images/pineapple.png', 'Pineapple Danish Pocket', '12.50', 'This is a pineapple danish pocket.'],
['images/cherry.png', 'Cherry Danish Pocket', '12.50', 'This is a cherry danish pocket.'],
['images/lemon-p.png', 'Lemon Danish Pocket', '12.50', 'This is a lemon danish pocket.'],
['images/blueberry-p.png', 'Blueberry Danish Pocket', '12.50', 'This is a blueberry danish pocket.'],
['images/apple-p.png', 'Apple Danish Pocket', '12.50', 'This is an apple danish pocket.'],
['images/lemon-d.png', 'Lemon Danish Round', '12.50', 'This is a lemon danish round.'],
['images/cheese.png', 'Cheese Danish Round', '12.50', 'This is a chesse danish round.'],
['images/apple-t.png', 'Apple Turnover', '12.50', 'This is an apple turnover.'],
['images/cinnamon-s.png', 'Cinnamon Swirl', '12.50', 'This is a cinamon swirl.']]
%>

 <div class="container">
 <% pastries.each do |pastrie| %>
 <% img = pastrie[0] %>
 <% name = pastrie[1] %>
 <% price = pastrie[2] %>
 <% description = pastrie[3] %>
 <div class="item">
<img src="<%= img %>">
<h2><%= name %></h2>
<h3><%= description %><h3>
<h3><%= price %><h3>
 </div>
<% end %>
</div>
