<h5>Pastries</h5>
<h6>All our fruits in our pastries are organically grown!</h6>

<% pastries =
[['images/pineapple.png', 'Pineapple Danish Pocket', '12.50', 'Spngebob loves this danish.'],
['images/cherry.png', 'Cherry Danish Pocket', '12.50', 'It\'s like a mini pie.'],
['images/lemon-p.png', 'Lemon Danish Pocket', '12.50', 'This is not sour at all!'],
['images/blueberry-p.png', 'Blueberry Danish Pocket', '12.50', 'This is for the blues!'],
['images/apple-p.png', 'Apple Danish Pocket', '12.50', 'An all American danish!'],
['images/lemon-d.png', 'Lemon Danish Round', '12.50', 'A little sunshine in your life!'],
['images/cheese.png', 'Cheese Danish Round', '12.50', 'Say cheese!'],
['images/apple-t.png', 'Apple Turnover', '12.50', 'Apples made fresh daily.'],
['images/cinnamon-s.png', 'Cinnamon Swirl', '12.50', 'Swirl! Swirl! Swirl!']]
%>

  <div class="container">
    <% pastries.each do |pastrie| %>
      <% img = pastrie[0] %>
        <% name = pastrie[1] %>
          <% price = pastrie[2] %>
            <% description = pastrie[3] %>
              <div class="item">
                <img src="<%= img %>">
                <h2><%= name %></h2>
                <h3><%= description %>
                  <h3>
                    <h3><%= price %>
                      <h3></div>
                    <% end %>
                  </div>
