/* Body
================================= */


body {
  background-color: #2a2a2e;
  color: #ffcb04;
  background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.7), black), url("images/background.jpeg");
  background-position: center;
  background-repeat: no repeat;
  background-size: cover;
}

h1 {
  color: floralwhite;
  justify-content: center;
  text-align: center;
  font-family: cursive;
  font-size: 50px;
  text-shadow: 2px 2px 2px black;
}

h2 {
  color: floralwhite;
  justify-content: center;
  text-align: center;
  font-family: cursive;
  font-size: 25px;
}

h3 {
  color: yellow;
  justify-content: center;
  text-align: center;
  font-family: cursive;
  font-size: 15px;
}

h4 {
  color: yellow;
  justify-content: center;
  text-align: center;
  font-family: cursive;
  font-size: 25px;
}

h5 {
  color: floralwhite;
  justify-content: center;
  text-align: center;
  font-family: cursive;
  text-decoration: underline;
  text-decoration-color: #ffcb04;  
  font-size: 50px;
  text-shadow: 2px 2px 2px black;
  margin: -70px;
}

h6 {
  color: floralwhite;
  justify-content: center;
  text-align: center;
  font-family: cursive;
  font-size: 50px;
}

a {
  color: #fff;
}

a:visited {
  color: #fff;
}
/* Navigation section
================================= */

#navbar ul {
  padding: 5px;
  list-style-type: center;
  text-align: center;
  background-color: none;
  margin: 10px;
  border-radius: 5px;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  font-family: Arial;
  padding: .2em 1em;
  color: #fff;
  background-color: none;
}

#navbar ul li a:hover {
  color: none;
  background-color: #e7a614;
}

/* Grids
================================= */
.container {
  display: grid;
  grid-template: auto / auto auto auto;
  text-align: center;
}

img {
  border-radius: 25px;
  width: 300px;
  height: auto;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px; 
}

/* Form
================================= */
input[type=text], select, textarea {
  width: 100%;  
  padding: 12px;   
  border: 1px solid #ccc;  
  border-radius: 4px; 
  box-sizing: border-box;  
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}  
 
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

.contain {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Images
================================= */
.image1 {
  margin-bottom: -230px;
  display: flex;
  justify-content: center;
  height: 200px;
  width: auto;   
}

* Footer section
================================= */

#footer {
  margin: 10px;
  height: 60px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 90%;
}

#footer {
  width: 300px;
  height: 100px;
}

#footer ul{
  padding: 5px;
  list-style-type: center;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
}

#footer ul li {
display: inline;
}

#footer ul li a:hover {
  color: #fff;
  background-color: #e7a614;
}
.allcontent {
  min-height: calc(50vh - 140px);
  padding: 40px 40px 0 40px;
 }
 