/* Body
================================= */

body {
     background-image: url("images/background.jpeg");
     background-position: left;
 background-attachment: fixed;
 background-size: cover;
 background-repeat: no-repeat;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

h3 {
  /* color: #2a2a2e; */
}

h4 {
  /* color: #2a2a2e; */
}

/* Navigation section
================================= */

#navbar ul {
  padding: 5px;
  list-style-type: center;
  text-align: center;
  background-color: none;
  margin: 10px;
  border-radius: 5px;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a {
  text-decoration: none;
  font-family: Arial;
  padding: .2em 1em;
  color: #fff;
  background-color: none;
}

#navbar ul li a:hover {
  color: none;
  background-color: #fff;
}

.container {
  display: grid;
  grid-template: auto / auto auto auto;
  text-align: center;
}

img {
  width: 300px;
  height: auto;
}
